@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900& display=swap');

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
/* .Container::before{
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);

} */

.Container .card
{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(250, 250, 250, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(250, 250, 250, 0.5);
    border-left: 1px solid rgba(250, 250, 250, 0.5);
    backdrop-filter: blur(5px);

    transform: translate(0, 0);
    transition: all 300ms;
}

.Container .card:hover {
    transform: translate(0, -10px);
}

.card__button
{
    background-color: transparent;
    padding: 8px;
    border-radius: 20px;
    /* background: #fff; */
    width: 100px;
    color: white;
    outline: none;
    border: none;
    border-left: 2px solid ;
    border-bottom: 2px solid ;
    border-color: #1ECD97;
    transition: all 300ms;
    cursor: pointer;
}

.card__button:hover {
    border: none;
    border-right: 2px solid;
    border-top: 2px solid;
    border-color: #1ECD97;
}
.Contant_p
{
  font-size: 1.8.rem;
  color: #fff;
  z-index: 1;

}
.contact
{
  font-size: 0.8em;
  color: #fff;
  font-family: 300;
}
.ancher
{
  position: relative;
  background: #fff;

  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

/* light mood */
/* .light_Conainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
} */
.light_card
{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(250, 250, 250, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(250, 250, 250, 0.5);
  border-left: 1px solid rgba(250, 250, 250, 0.5);
  backdrop-filter: blur(5px);

  transform: translate(0, 0);
  transition: all 300ms;



}
.light_body
{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Content
{
  padding: 20px;
  text-align: center;

}
.light_Contant_p
{
  font-size: 1.8.rem;
  color: #fff;
  z-index: 1;
  color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.light_contact
{
  font-size: 0.8em;
  color: #777;
  font-family: 300;
}
.light_card_button
{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f3;
  margin-top: 15px;
  border-radius: 20px;
  border-color: #03a9f3;
  color: #fff;
  text-decoration: none;
  font-family: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.light_ancher
{

  border: none;
  position: relative;
  /* background: #fff; */

  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

@media screen and (max-width: 480px) {
  .Contant_p
{
  font-size: 1rem;
  color: #fff;
  z-index: 1;

}

}


/* .portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
} */

